* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
:root {
    --time-transition: 500ms;
}
#sections-list {
    scroll-behavior: smooth;
}
body, main {
    width: 100vw;
    box-sizing: border-box;
}
@font-face {
    font-family: 'SF Pro Display Regular';
    src: url("../font/SFPRODISPLAYMEDIUM.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display Medium';
    src: url("../font/SFPRODISPLAYMEDIUM.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
.white {
    color: #fff;
}
.grey {
    color: #86847c;
}
.fw-medium {
    font-family: 'SF Pro Display Medium', sans-serif;
    font-size: 500 !important;
}
.fw-regular {
    font-family: 'SF Pro Display Regular', sans-serif;
    font-weight: 400 !important;
}
.fs-24 {
    font-size: 1.25vw;
}
.fs-21 {
    font-size: 1.09vw;
}
.fs-18 {
    font-size: .93vw;
}
.d-flex {
    display: flex;
}
.align-items-center {
    align-content: center;
}
.align-self-center {
    align-self: center;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.m-auto {
    margin: auto;
}
.reset-btn {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.style-bar {
    border-radius: 3.6vw;
    background-color: rgba(88, 88, 88, 0.3);
    border: 1px solid #a3a3a3;
    box-shadow: 4px 0 10px rgba(0, 0, 0, .25);
}
.aside-navbar {
    margin: auto 1.66vw;
    padding: 1vw;
    gap: 1.66vw;
    transition: var(--time-transition) ease-in-out;
    width: 3.7%;
}
.aside-navbar a.active {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2), transparent);
    border-radius: 3.6vw;
}
@keyframes teste {
    0% {
        transform: translateX(5.2vw);
        opacity: 1;
    }
    50% {
        transform: translateX(3.6vw);
        opacity: 0;
    }
    100% {
        transform: translateX(5.2vw);
        opacity: 1;
    }
}
.aside-navbar a p {
    padding: 0 1vw;
    /*animation: 1s teste infinite;*/
    position: absolute;
    transform: translateX(-3.6vw);
    opacity: 0;
    transition: var(--time-transition) ease-in-out;
}
.aside-navbar.open {
    width: 12%;
}
.aside-navbar.open a p {
    transform: translateX(3.6vw);
    opacity: 1;
}
.aside-navbar button {
    padding: 1vw;
    border-radius: 50%;
}
.aside-navbar li.active button {
    background-color: rgba(255, 255, 255, .2);
}
.aside-navbar button img {
    width: 1.8vw;
    width: 1.8vw;
    object-fit: contain;
    aspect-ratio: 1/1;
}

#app {
    width: 100vw;
    height: 100%;
    background-image: url("../content/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-attachment: fixed;
}
#app .main-content {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin: 0;
    margin-bottom: 1.66vw;
    border-radius: 3.6vw;
    overflow: hidden;
    opacity: 1;
    background-color: rgba(255, 255, 255, .25);
    transition-duration: 1s !important;
    animation-duration: 1s !important;
}
.invisible {
    opacity: 0 !important;
}
#app .main-content video, #app .main-content img, #panorama, #diferencials-7 .text-container .img-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#app .controls {
    background-color: #808080;
    background-image: linear-gradient(180deg, rgba(57, 57, 57, .75), rgba(111, 111, 111, .75));
    border-radius: 3.6vw;
    padding: 1vw 1.66vw;
    gap: 1.66vw;
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-left: 1px solid rgba(255, 255, 255, .2);
    position: relative;
    width: 60%;
    height: 1.66vw;
    margin: 0 auto;
    z-index: 999 !important;
    transition: 1s ease-in-out;
}
#app .controls button img, #app .control-slider button img {
    width: 1.6vw;
    height: 1.6vw;
    object-fit: contain;
}
#app #sections-list {
    width: 79vw;
    height: 100vh;
    aspect-ratio: 16 / 9;
    padding: 0 !important;
    margin: auto 1.66vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: visible;
    /*overflow: hidden;*/
}
#app #sections-list section {
    width: 100%;
    height: 100vh;
    transition: 1s ease-in-out;
    animation-duration: 1s;
}
#app #sections-list::-webkit-scrollbar {
    background-color: transparent;
}
#app .controls .progress-container {
    width: 70%;
    height: 35%;
    background-color: #353535;
    border-radius: 3.6vw;
    margin-left: 1.66vw;
    overflow: hidden;
}
#app .controls #progress-bar {
    background-color: #d4d4d4;
    width: 0%;
    height: 100%;
    border-radius: 3.6vw;
}
#view-3 .main-content {
    margin-bottom: 0;
    margin-top: 1.66vw;
}
#view-3 .main-content-list {
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: row;
    transition: 1s ease-in-out;
    transform: translateY(-150%);
}
#view-3 .main-content-list .pano-container {
    position: relative;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: auto;
}

#facade-2 .control-slider, #view-3 .view-legend, #perspectives-4 .control-slider, #plan-5 .control-slider {
    width: auto;
    margin: 0 auto;
    gap: 3.33vw;
    padding: .83vw 1.66vw;
}
#view-3 .view-legend {
    padding: 1vw 3.33vw;
}
.arrow-btn,
.control-btn,
#view-3 p, 
#perspectives-4 p,
#location-6 p,
#location-6 h2,
#diferencials-7 .txt-group h2,
#diferencials-7 .txt-group p {
    transition: 500ms ease-in-out;
}
#panoramic-viewer {
    width: 90%;
}
#viewer-controller {
    z-index: 9;
    width: 6.5%;
    justify-content: end;
    gap: 3.22vw;
}
#viewer-slider {
    background-color: rgba(0, 0, 0, .2);
    gap: .83vw;
    border-radius: 3.6vw;
    margin: 0 auto;
}
#predio {
    position: relative;
    width: 100%;
}
#predio img {
    width: 100%;
    object-fit: contain;
}
#predio .indicator {
    position: absolute;
    width: 100%;
    background-color: rgba(128, 128, 128, .64);
    border-radius: 1.3vw;
    justify-content: start;
    margin-top: -8vw;
    transition: 1s ease-in-out;
}
#predio .indicator .ball {
    width: 1.5vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
}
#view-3 .arrow-btn {
    width: 3.75vw;
}
#view-3 .arrow-btn img {
    width: 40%;
    max-height: 40%;
    transform: rotate(90deg);
}
#view-3 p {
    text-align: center;
}
#krpanoSWFObject > div:last-child, 
#krpanoSWFObject2 > div:last-child,
#krpanoSWFObject3 > div:last-child,
#krpanoSWFObject4 > div:last-child {
    opacity: 0 !important;
    pointer-events: none !important;
    display: none !important;
    background: none !important;
    color: transparent !important;
    z-index: -999 !important;
}
#perspectives-4 .control-slider {
    gap: 6.66vw;
}
#plan-5 .control-slider {
    flex-wrap: nowrap;
    gap: 1.66vw;
    width: 50%;
}
#plan-5 .control-slider button {
    padding: .5vw 1.66vw;
    border-radius: 3.6vw;
    width: 100%;
    transition: var(--time-transition) ease-in-out;
}
#plan-5 .control-slider button.active {
    background-color: rgba(128, 128, 128, 1);
}
#location-6 .control-slider {
    padding: 1.66vw 3.33vw;
    gap: 1vw;
    z-index: 999;
}
#diferencials-7 .text-container {
    gap: 1.66vw;
    background-color: rgba(128, 128, 128, .7);
    padding: 1.66vw 3.33vw;
    border-radius: 3.6vw;
    width: auto;
    aspect-ratio: auto;
    margin: 0;
}
#diferencials-7 .text-container .img-header {
    width: 100%;
    height: 15.62vw;
    border-radius: 1.3vw;
    overflow: hidden;
    position: relative;
}
#diferencials-7 .text-container .img-header img {
    position: absolute;
    inset: 0;
    margin: auto;
    transition: 1s ease-in-out;
}
#diferencials-7 .text-container h1 {
    text-align: center;
}
#diferencials-7 .text-container .txt-group {
    gap: 1vw;
}
.arrow-btn {
    width: 2.5vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .4);
    position: relative;
}
.arrow-btn img {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50% !important;
    max-height: 50% !important;
    object-fit: contain;
}

#app #animation-1 .main-content {
    position: relative;
}
.popupContainer {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    transition: 1s ease-in-out;
    aspect-ratio: auto;
    object-fit: cover;
    z-index: 999 !important;
    opacity: 1;
    filter:grayscale(0);
    inset: 0;
    overflow: hidden;
    margin: auto;
    border-radius: 0;
}
#myVideoPopup {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    margin: auto;
}
.popupContainer button {
    position: absolute;
    display: block;
    width: 2.5vw;
    aspect-ratio: 1 / 1;
    top: 1.66vw;
    right: 1.66vw;
    z-index: 99;
}
.popupContainer button img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    inset: 0;
    margin: auto;
}
.popupContainer .gallery-item-1, #locationPopupContainer .gallery-item-1, #location-6 .gallery-item-1 {
    opacity: 1;
    z-index: 9;
}
#location-6 .control-slider {
    transition: 1s ease-in-out;
}
#diferencialsPopupContainer .prev-slide, #diferencialsPopupContainer .next-slide {
    top: initial;
    bottom: 1.66vw;
    left: 45%;
}
#diferencialsPopupContainer .next-slide {
    left: initial;
    right: 45%;
}
.popupContainer img {
    width: 100%;
    height: 100%;
    border-radius: 0;
    inset: 0;
    margin: auto;
    transform: translate(0);
    transition: 1s ease-in-out;
}
.popupContainer.close {
    width: 70vw;
    height: 39.37vw;
    opacity: 0;
    filter: grayscale(1);
    pointer-events: none;
    border-radius: 3.6vw;
}
.openPopupBtn {
    width: 2.5vw;
    aspect-ratio: 1 / 1;
    position: absolute;
    right: 1.66vw;
    top: 1.66vw;
    z-index: 999;
}
#diferencials-7 .openPopupBtn img {
    opacity: 1 !important;
}
#plan-5 .openPopupBtn, #planPopupContainer .closePopupBtn {
    background-color: rgba(16, 16, 16, .4) !important;
}
#facade-2 .control-slider, #view-3 .view-legend, #perspectives-4 .control-slider, #plan-5 .control-slider {
    z-index: 999;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    50% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }
}

/* Configuração do scroll-timeline para a entrada */
.animate__animated {
    animation: zoomIn 1s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
    animation-fill-mode: forwards;
    transition: 1s;
}